---
- hosts: all
  gather_facts: false

  tasks:
    - name: Register node
      script: >
        /opt/carisma/scripts/register-node.sh
        "{{ input_attr_host }}"
      register: register_node_result

    - name: Store node ID
      set_fact:
        node_id: "{{ register_node_result.stdout.strip() }}"

    - name: Create Envoy bootstrap configuration file
      copy:
        content: |
          node:
            id: "{{ node_id }}"
            cluster: "envoy-cluster"
          dynamic_resources:
            lds_config:
              ads: {}
              resource_api_version: V3
            cds_config:
              ads: {}
              resource_api_version: V3
            ads_config:
              api_type: GRPC
              transport_api_version: V3
              grpc_services:
                - envoy_grpc:
                    cluster_name: "xds-cluster"
          static_resources:
            clusters:
              - name: "xds-cluster"
                type: STRICT_DNS
                dns_lookup_family: V4_ONLY
                typed_extension_protocol_options:
                  envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
                    "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
                    explicit_http_config:
                      http2_protocol_options: {}
                load_assignment:
                  cluster_name: "xds-cluster"
                  endpoints:
                    - lb_endpoints:
                        - endpoint:
                            address:
                              socket_address:
                                protocol: TCP
                                address: "{{ input_attr_carisma_host }}"
                                port_value: {{ input_attr_carisma_port }}
        dest: /Users/KEKLEI/carisma/envoy_config.yaml
        mode: '0644'

    - name: Create the container
      command: "podman create --name {{ input_attr_tosca_name }} -p {{ input_attr_ingress_port }}:8000 -p {{ input_attr_egress_port }}:9000 --volume /Users/KEKLEI/carisma/envoy_config.yaml:/etc/envoy/envoy.yaml:ro {{ input_attr_container_image_name }} --config-path /etc/envoy/envoy.yaml"
      register: container_id_result

    - name: Set container id
      set_stats:
        data:
          container_id: "{{ container_id_result.stdout.strip() }}"
        per_host: no